body {
  margin: 0 13% 0 15%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.card {
  margin: 2em;
}

.ui.card:first-child {
  margin-top: 1em;
}

.ui.card:last-child {
  margin-bottom: 1em;
}

/* .ui.card, .ui.cards>.card {
  width: 400px;
} */

.ui.card>.image>img, .ui.cards>.card>.image>img {
  height: 290px;
  width: auto;
  align-items: center; 
  margin: auto;
  background-position: center;
  background-size: contain;
}


h1.homePage {
  font-family: 'Creepster', cursive;
  font-size: 6em;
  pointer-events: none;
}


.card {
  text-align: center;
  border: grey solid 1px;
  padding: .6rem;
  width: 17rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 1rem;
  background-color: rgb(99, 92, 95);
}

.card:hover {
  cursor: pointer;
}

.movie-pic {
  justify-self: center;
  height: auto;
  width: 100%;
}

.section {
  padding: 2em;
  margin: 5px 5px 5px 5px;
  display: flex;
  width: 400px;
  flex-direction: column;
  align-content: center;
  background-color: gray;
  border-radius: 5%;
}

.section h4 {
  margin-bottom: .5rem;
  margin-top: 1rem;
} 

.main-movie-img{
  
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  height: auto;
}

h4.movie-card {
  font-size: 1.5em;
  margin-bottom: .6rem;
}

.navbar {
  background-color: #270471;
  margin-top: 40px;
  margin-bottom: 30px;
  line-height: 250%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-radius: 4%;
  padding: 0.3rem;
}

.navbar a {
  color: white;
  padding-left: 15px;
}

.login-form {
  margin-top: 2rem;
  background-color: rgb(64 57 60);
  height: 160px;
  vertical-align: middle;
  padding: 1rem;
}

.login-form label {
  color: white;
  margin: 10px 5px 10px 5px
}

.review-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.review-cards p {
  
  color: black;
  
}

.review-cards {
  background-color: whitesmoke;
  width: 265px;
  margin-left: 5px;
  margin-right: 5px;
  border-style: solid 20px red;
  border-color: red;
  border-radius: 5%;
  padding: 8px 8px 8px 8px;
  align-content: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1000px;
  margin-bottom: 35px;
}

.header {
  background-image: url("https://ak.picdn.net/shutterstock/videos/1041541525/thumb/1.jpg");

}

.review-form {
  background-color: #270471;
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.review-form label {
  color: white;
}

.review-form button {
  margin-top: 10px; 
}
.review-data-field {
  display: inline-block;
  float: left;
}

.review select{
  height: 30px;
}

.review-form input {
  height: 30px;
}

.bullshit {
  height: 100px;
}

.add-review-container h3{
  text-align: center;
  margin-top: 15px;
}

.display-container {

}

.category-card {
  text-align: center;
  border: grey solid 1px;
  padding-top: .6rem;
  padding-right: .3rem;
  padding-left: .3rem;
  width: 22rem;
  height: 28rem;
  display: inline-grid;
  margin: .5rem 1rem;
  background-color: rgb(192, 190, 191);
  border-radius: 7%;
}

.category-card:hover {
  cursor: pointer;
  background-color: red;
}

.category-pic {
  justify-self: center;
  float: left;
  width:  250px;
  height: 250px;
  object-fit: cover;
  margin-top: 6px;
}